In [415]:
#This Notebook uses sample dataset to simulate the process to pick up the top candidates for TTB2019 project SmartHire.

In [459]:
#An ultimate goal of this script is to automate the bias detection and return the less biased list of candidates with high scored resumes.

In [414]:
%matplotlib inline

In [416]:
# !pip install torch

Requirement not upgraded as not directly required: torch in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages

In [417]:
# !pip install torchsummary

Requirement not upgraded as not directly required: torchsummary in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages

In [338]:
#!pip freeze

In [374]:
#!pip install aif360

In [17]:
# import glob
# from skimage import io
# from skimage.transform import resize
# import numpy as np
# import matplotlib.pyplot as plt
# from matplotlib import gridspec
# from IPython.display import Markdown, display

In [340]:
# import torch
# import torch.utils.data
# from torch.autograd import Variable
# import torch.nn as nn
# from torchsummary import summary

In [341]:
import pandas as pd
import sys, os
sys.path.append("../")

In [20]:
# import tarfile
# import ibm_boto3
# from ibm_botocore.client import Config

In [106]:
# from aif360.datasets import BinaryLabelDataset
# from aif360.metrics import BinaryLabelDatasetMetric
# from aif360.metrics import ClassificationMetric
# from aif360.algorithms.postprocessing import RejectOptionClassification

In [418]:
np.random.seed(99)
#torch.manual_seed(99)

In [23]:
# races_to_consider = [0,4]
# unprivileged_groups = [{'race': 4.0}]
# privileged_groups = [{'race': 0.0}]
# favorable_label = 0.0 
# unfavorable_label = 1.0

In [420]:
# Import pandas library 
import pandas as pd

In [422]:
# Initialize the sample data
data = [[0, 0.89, 2, 10], [1, 0.11, 2, 15], [ 2, 0.45, 2, 15], 
        [1, 0.12, 0, 25], [1, 0.72, 1, 10], [ 3, 0.89, 0, 20], 
        [1, 0.23, 2, 15], [2, 0.65, 2, 20], [ 0, 0.12, 2, 20], 
        [1, 0.72, 1, 20], [1, 0.43, 2, 25], [ 1, 0.23, 2, 25], 
        [2, 0.45, 0, 10], [2, 0.59, 2, 25], [ 0, 0.72, 1, 25], 
        [0, 0.19, 2, 15],[ 0, 0.19, 2, 25], [ 1, 0.23, 0, 25], 
        [0, 0.45, 0, 0], [ 0, 0.89, 2, 10], [ 3, 0.10, 1, 20], 
        [0, 0.89, 2, 20],[ 0, 0.89, 2, 25], [ 1, 0.11, 2, 20], 
        [1, 0.12, 0, 20], [1, 0.72, 1, 25], [ 2, 0.89, 0, 20], 
        [0, 0.23, 2, 15], [0, 0.65, 2, 15], [ 0, 0.12, 2, 25], 
        [1, 0.72, 1, 15], [1, 0.30, 2, 10], [ 1, 0.23, 2, 15], 
        [2, 0.45, 0, 10], [2, 0.59, 0, 5], [ 0, 0.72, 1, 15], 
        [0, 0.19, 2, 5],[ 0, 0.19, 2, 10], [ 1, 0.23, 0, 15], 
        [0, 0.45, 0,0], [ 0, 0.89, 2, 15], [ 2, 0.10, 1, 15], 
        [0, 0.89, 0,5],[0, 0.89, 2,20], [1, 0.11, 2, 10], 
        [1, 0.12, 0, 10], [1, 0.72, 1, 25], [ 3, 0.89, 0, 20], 
        [1, 0.23, 2, 20], [3, 0.65, 0, 20], [ 0, 0.12, 0,25], 
        [1, 0.12, 0, 20], [1, 0.43, 2, 20], [ 0, 0.23, 2,25], 
        [2, 0.34, 0, 20], [2, 0.59, 2, 0], [ 0, 0.72, 1, 25], 
        [0, 0.19, 1, 20],[ 0, 0.19, 0, 15], [ 1, 0.23, 0, 20], 
        [1, 0.45, 0, 15], [ 0, 0.89, 2,15], [ 3, 0.10, 1, 10], 
        [0, 0.97, 0, 15],[ 2, 0.45, 2, 10], [ 2, 0.45, 2, 15]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['keymatch','r_cat','conmatch','test'])

In [423]:
# print dataframe. 
df.head()

   keymatch  r_cat  conmatch  test
0         0   0.89         2    10
1         1   0.11         2    15
2         2   0.45         2    15
3         1   0.12         0    25
4         1   0.72         1    10

In [424]:
#Scaling
from sklearn.preprocessing import MinMaxScaler

In [426]:
scaler = MinMaxScaler()
  
# To scale data 
scale = scaler.fit_transform(df)

In [427]:
df = pd.DataFrame(scale)

In [428]:
df.head()

          0         1    2    3
0  0.000000  0.908046  1.0  0.4
1  0.333333  0.011494  1.0  0.6
2  0.666667  0.402299  1.0  0.6
3  0.333333  0.022989  0.0  1.0
4  0.333333  0.712644  0.5  0.4

In [429]:
df['mean'] = df.mean(axis=1)

In [430]:
df.head()

          0         1    2    3      mean
0  0.000000  0.908046  1.0  0.4  0.577011
1  0.333333  0.011494  1.0  0.6  0.486207
2  0.666667  0.402299  1.0  0.6  0.667241
3  0.333333  0.022989  0.0  1.0  0.339080
4  0.333333  0.712644  0.5  0.4  0.486494

In [431]:
mean = df['mean']
mean.head()

0    0.577011
1    0.486207
2    0.667241
3    0.339080
4    0.486494
Name: mean, dtype: float64

In [435]:
#possible cause of bias data
data = [[1,0,1,0,0,mean[0],0], [0,1,0,0,1,mean[1],0], [1,0,0,1,0,mean[2],0],  [0,1,0,0,1,mean[3],0], [0,1,0,1,0,mean[4],0],
        [1,0,1,0,0,mean[5],0], [1,1,0,0,1,mean[6],0], [0,0,0,1,0,mean[7],0],  [0,1,0,0,0,mean[8],0], [1,1,0,0,1,mean[9],0],
        [0,0,1,0,0,mean[10],0], [0,1,0,0,1,mean[11],0], [1,0,0,1,0,mean[12],0],  [1,1,0,0,1,mean[13],0], [0,1,0,1,0,mean[14],0],
        [0,0,1,0,0,mean[15],0], [1,1,0,0,1,mean[16],0], [0,1,0,1,0,mean[17],0],  [0,0,0,1,0,mean[18],0], [1,1,0,0,0,mean[19],0],
        [0,0,1,0,0,mean[20],0], [0,1,0,0,1,mean[21],0], [0,0,0,1,0,mean[22],0],  [0,1,0,0,0,mean[23],0], [0,1,0,0,0,mean[24],0],
        [0,0,1,0,0,mean[25],0], [1,1,0,0,1,mean[26],0], [1,0,1,0,0,mean[27],0],  [1,1,0,0,0,mean[28],0], [1,1,0,0,1,mean[29],0],
        [0,0,1,0,0,mean[30],0], [0,1,0,0,1,mean[31],0], [0,0,0,1,0,mean[32],0],  [0,1,0,1,0,mean[33],0], [1,1,0,0,1,mean[34],0],
        [0,0,1,0,0,mean[35],0], [0,1,0,0,1,mean[36],0], [1,0,0,1,0,mean[37],0],  [0,1,1,0,0,mean[38],0], [0,1,0,0,0,mean[39],0],
        [0,0,1,0,0,mean[40],0], [1,1,0,0,1,mean[41],0], [0,0,1,0,0,mean[42],0],  [1,1,0,0,0,mean[43],0], [1,1,0,0,0,mean[44],0],
        [0,0,1,0,0,mean[45],0], [0,1,0,0,1,mean[46],0], [1,0,0,1,0,mean[47],0],  [0,1,0,0,0,mean[48],0], [1,1,0,0,1,mean[49],0],
        [0,0,1,0,0,mean[50],0], [1,1,0,0,1,mean[51],0], [0,0,0,1,0,mean[52],0],  [0,0,1,0,0,mean[53],0], [0,1,0,1,0,mean[54],0],
        [1,0,1,0,0,mean[55],0], [0,1,0,0,1,mean[56],0], [0,1,0,1,0,mean[57],0],  [0,1,1,0,0,mean[58],0], [1,1,0,0,0,mean[59],0],
        [1,0,1,0,0,mean[60],0], [1,1,0,0,1,mean[61],0], [1,0,0,1,0,mean[62],0],  [0,1,0,0,0,mean[63],0], [1,1,0,0,1,mean[64],0],
        [1,0,1,0,0,mean[65],0]]
dt = pd.DataFrame(data, columns = ['Race', 'Gender','Address','School','Education','Mean','Hired'])

In [436]:
dt.head()

   Race  Gender  Address  School  Education      Mean  Hired
0     1       0        1       0          0  0.577011      0
1     0       1        0       0          1  0.486207      0
2     1       0        0       1          0  0.667241      0
3     0       1        0       0          1  0.339080      0
4     0       1        0       1          0  0.486494      0

In [437]:
#Race: the candidate identifies as White(1) or not(0) -> Racial Bias
#Gender: the candidate identifies as Male(1) or not(0) -> Gender Bias
#Address: the candidate resides in a wealthy area(1) or not(0) -> Economics Bias 
#School: the candidate goes/went to Private school(1) or not(0) -> Economics Bias 
#Education: the candidate obtains Bachelors or higher degree(1) or not(0) -> Economics Bias

In [434]:
df.head()

          0         1    2    3      mean
0  0.000000  0.908046  1.0  0.4  0.577011
1  0.333333  0.011494  1.0  0.6  0.486207
2  0.666667  0.402299  1.0  0.6  0.667241
3  0.333333  0.022989  0.0  1.0  0.339080
4  0.333333  0.712644  0.5  0.4  0.486494

In [438]:
#Getting the percentages of privileged variable(1) in whole candidate population
total_pct = [0,0,0,0,0]

In [439]:
total_pct[0] = len(dt[dt['Race'] == 1])
total_pct[1] = len(dt[dt['Gender'] == 1])
total_pct[2] = len(dt[dt['Address'] == 1])
total_pct[3] = len(dt[dt['School'] == 1])
total_pct[4] = len(dt[dt['Education'] == 1])

In [440]:
total_pct[:] = [x / len(df) for x in total_pct]
total_pct

[0.42424242424242425,
 0.5909090909090909,
 0.2878787878787879,
 0.24242424242424243,
 0.30303030303030304]

In [441]:
#Setting the threshold of how much top candidate the recruiters proceed with. 20 % in this case.
line = int(len(df)*0.2)

In [444]:
#Making data descending order (Showing top candidates first)
df1 = dt.sort_values(by=['Mean'],ascending=False)

In [446]:
df1.head()

    Race  Gender  Address  School  Education      Mean  Hired
13     1       1        0       0          1  0.807471      0
7      0       0        0       1          0  0.774713      0
22     0       0        0       1          0  0.727011      0
10     0       0        1       0          0  0.678161      0
5      1       0        1       0          0  0.677011      0

In [447]:
#Now, taking the top 20 %
df2 = df1[:line]

In [448]:
df2

    Race  Gender  Address  School  Education      Mean  Hired
13     1       1        0       0          1  0.807471      0
7      0       0        0       1          0  0.774713      0
22     0       0        0       1          0  0.727011      0
10     0       0        1       0          0  0.678161      0
5      1       0        1       0          0  0.677011      0
21     0       1        0       0          1  0.677011      0
47     1       0        0       1          0  0.677011      0
43     1       1        0       0          0  0.677011      0
2      1       0        0       1          0  0.667241      0
65     1       0        1       0          0  0.667241      0
46     0       1        0       0          1  0.636494      0
25     0       0        1       0          0  0.636494      0
52     0       0        0       1          0  0.628161      0

In [449]:
#Getting the percentages of privileged variable(1) in the top(20%) scored population
part_pct = [0,0,0,0,0]

In [450]:
part_pct[0] = len(df2[df2['Race'] == 1])
part_pct[1] = len(df2[df2['Gender'] == 1])
part_pct[2] = len(df2[df2['Address'] == 1])
part_pct[3] = len(df2[df2['School'] == 1])
part_pct[4] = len(df2[df2['Education'] == 1])

In [451]:
part_pct[:] = [x / line for x in part_pct]

In [452]:
part_pct

[0.46153846153846156,
 0.3076923076923077,
 0.3076923076923077,
 0.38461538461538464,
 0.23076923076923078]

In [455]:
i = 0
while(i < 5):
    print(part_pct[i]-total_pct[i])
    i = i + 1

0.03729603729603731
-0.28321678321678323
0.01981351981351981
0.1421911421911422
-0.07226107226107226

In [456]:
#The percentage of candidates whose resume have scored more have been to private college 
#more likely by 14.219%. This number is significantly high.

In [457]:
df3 = df1[:line+1]

In [458]:
df3

    Race  Gender  Address  School  Education      Mean  Hired
13     1       1        0       0          1  0.807471      0
7      0       0        0       1          0  0.774713      0
22     0       0        0       1          0  0.727011      0
10     0       0        1       0          0  0.678161      0
5      1       0        1       0          0  0.677011      0
21     0       1        0       0          1  0.677011      0
47     1       0        0       1          0  0.677011      0
43     1       1        0       0          0  0.677011      0
2      1       0        0       1          0  0.667241      0
65     1       0        1       0          0  0.667241      0
46     0       1        0       0          1  0.636494      0
25     0       0        1       0          0  0.636494      0
52     0       0        0       1          0  0.628161      0
61     1       1        0       0          1  0.627011      0

In [460]:
#The candidate with the resume which did not get into the top 20% score but was very close, has 0 on 'School'.
# We take this person into the top 20% and drop the person barely within 20%.

In [461]:
df4 = df3.drop(52)

In [462]:
df4

    Race  Gender  Address  School  Education      Mean  Hired
13     1       1        0       0          1  0.807471      0
7      0       0        0       1          0  0.774713      0
22     0       0        0       1          0  0.727011      0
10     0       0        1       0          0  0.678161      0
5      1       0        1       0          0  0.677011      0
21     0       1        0       0          1  0.677011      0
47     1       0        0       1          0  0.677011      0
43     1       1        0       0          0  0.677011      0
2      1       0        0       1          0  0.667241      0
65     1       0        1       0          0  0.667241      0
46     0       1        0       0          1  0.636494      0
25     0       0        1       0          0  0.636494      0
61     1       1        0       0          1  0.627011      0

In [464]:
part_pct1 = [0,0,0,0,0]

part_pct1[0] = len(df4[df4['Race'] == 1])
part_pct1[1] = len(df4[df4['Gender'] == 1])
part_pct1[2] = len(df4[df4['Address'] == 1])
part_pct1[3] = len(df4[df4['School'] == 1])
part_pct1[4] = len(df4[df4['Education'] == 1])

In [465]:
#Now we compare the percentage in modified rank
part_pct1[:] = [x / line for x in part_pct1]

In [466]:
part_pct

[0.46153846153846156,
 0.3076923076923077,
 0.3076923076923077,
 0.38461538461538464,
 0.23076923076923078]

In [467]:
j = 0
while(j < 5):
    print(part_pct1[j]-total_pct[j])
    j = j + 1

0.11421911421911418
-0.2062937062937063
0.01981351981351981
0.06526806526806528
0.004662004662004671

In [ ]:
#By adding above modifications,the bias that we can observed by the percentages is somewhat fixed. 
#This method could be an effective way to make the result less biased.
#However, this change brought the variable 'Race' to have a big difference by 11.421%. 
#For the future, we may further explore post-processing methods that make the result less biased.

In [146]:
#class aif360.algorithms.postprocessing.RejectOptionClassification(unprivileged_groups, privileged_groups, low_class_thresh=0.01, high_class_thresh=0.99, 
#num_class_thresh=100, num_ROC_margin=50, metric_name='Statistical parity difference', metric_ub=0.05, metric_lb=-0.05)
#import aif360
#model  = RejectOptionClassification({'Gender':0},{'Gender':1})
#dt
#dt2 = model.fit(dt)

In [145]:
#from aif360.algorithms.preprocessing import Reweighing
#aif360.algorithms.preprocessing.Reweighing(unprivileged_groups, privileged_groups)

#model  = Reweighing({'Gender':0},{'Gender':1})
#dt
#dt2 = model.fit(dt)